- const items = { home : 'Home', about: 'About', account: 'Account' }
-
	const products = [
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	},
	{
		title: 'Music Album',
		price: 79,
	}
	]

-
	const gallery = [
	{
		title: 'Gallery Heading',
		src: '1.jpg',
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},
	{
		title: 'Gallery Heading',
		src: '1.jpg'
	},

	]
