head
		title Mxtonz Task
		meta(charset='utf-8') 
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='shortcut icon', href='assets/images/fav-icon.png')
		link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap' rel='stylesheet')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/owl.carousel.min.css')
		link(rel='stylesheet', href='assets/css/aos.css')
		link(rel='stylesheet', href='assets/css/style.css')