div(id='logo-section', class='logo-slider')
	.container
		//#logoSlider.owl-carousel.logo-carousel.nav-center.nav-left-right
			+logoSlider({thumb: 'logo1.png'})
			+logoSlider({thumb: 'logo2.png'})
			+logoSlider({thumb: 'logo3.png'})
			+logoSlider({thumb: 'logo4.png'})
			+logoSlider({thumb: 'logo5.png'})
			+logoSlider({thumb: 'logo2.png'})
			+logoSlider({thumb: 'logo4.png'})
			+logoSlider({thumb: 'logo5.png'})