.testimonial-wrapper{
	position: relative;
	overflow: hidden;
	.owl-item{
		padding: 2rem 0rem;
		
		@include mediaMin(768px){
			padding: 3rem 0rem;
			margin-bottom: 2rem;
		}
		&.center{
			
			z-index: 1;
			@include mediaMin(768px){
				@include transform(scale(1.2));
			}
		}
		&:not(.center){
			opacity: 0.4;
		}
	}
	.media{
		.media-icon{
			width: 6rem;
			height: auto;
		}
		.media-body{
			.media-title{
				font-size: 15px;
			}
			p{
				font-size: 13px;
				font-weight: 300;
				color: #969696;
				font-style: italic;
				margin-bottom: 0rem;
			}
			@at-root .rating{
				font-size: 12px;
				color: #9b9b9b;
				.list-inline-item{
					&:not(:last-child){
						margin-right: 0.125rem;
					}
					svg{
						width: 0.75rem;
					}
				}
				&-active{
					svg{
						path{fill: #f3b700;}
					}
				}
			}
		}
	}
	.card{
		.card-body{
			background-color: #fafafa;
			p{
				font-size: 14px;
			}
			.content{
				p{
					color: #545454;
				}
				a{
					@include btn(13px, 0.75rem 2.5rem, $white, #368ccc, 2rem, 300, capitalize);
				}
			}
		}
	}
}